tmp.prototxt
bin/scopetest.py
bin/scopetest.pyc
img/image3sm.jpg
alex.jpg
*.pyc
@*

ARTEX_/

ARTEX/

deepdreamvisionquest/dev/

*.sublime-workspace

bin/dict1\.py

bin/files1\.py

bin/files2\.py

bin/testfile\.txt

bin/testfile1\.txt

deepdreamvisionquest/LASTFEST/

deepdreamvisionquest/LASTFEST-FRI/

deepdreamvisionquest/LASTFEST-SAT-AFT1/

deepdreamvisionquest/LASTFEST-SAT-AM/

deepdreamvisionquest/LASTFEST-SAT-EVE1/

deepdreamvisionquest/LASTFEST-beta/

deepdreamvisionquest/LASTFEST-setup2/

deepdreamvisionquest/preshow/

deepdreamvisionquest/motiondata\.txt

deepdreamvisionquest/motiondata-test4\.txt

deepdreamvisionquest/motiondata-test3\.txt

deepdreamvisionquest/motiondata-test1\.txt

deepdreamvisionquest/living-room/
